<div class="jumbotron">
    <h1>BoxStars</h1>
    <p class="lead">
        BoxStars is a boxing themed 3D pinball game built using Unity framework with features hosted on an ASP.Net Web App.
        The game allows users to register a unique account, log in and log out of that account, save high score, and see
        the overall high scores on a leaderboard.  Incorporating boxing themes and rules make this pinball game unlike any other
        you have played.
    </p>
</div>